.App {
  text-align: center;
}


/* .carousel-inner > .item > img {
  width:640px;
  height:360px;
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.tgl{
  text-align: center;
  font-size:x-small;
}
.card:hover{
  transform: scale(1.05);
box-shadow: 0 10px 20px rgba(27, 27, 27, 0.12), 0 4px 8px rgba(32, 32, 32, 0.06);
}
.card{
  background-color:rgba(231, 219, 219, 0.205);
  border-radius: 15px;
}

#myCarousel{
  margin-bottom: 30px;
}


